{% extends 'base.html' %}

{% block title %}
상품등록
{% endblock %}
{% block content %}

<div class="container">
    <div class="wrap">
        <h2 class="title-center">상품 등록</h2>
        <form class="form-area" method="post" action="/product-create/">
            {% csrf_token %}
            <div class="form-group mt-2 mb-2">
                <label for="code">상품코드</label>
                <input type="text" class="form-control" id="code" name="code">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="name">상품명</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="description">설명</label>
                <input type="text" cols="40" rows="10" class="form-control" id="description" name="description">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="price">가격</label>
                <input type="number" class="form-control" id="price" name="price">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="size">사이즈</label>
                <select name="size" class="form-select" aria-label="Default select example">
                    <option value="" selected="">사이즈를 선택하세요</option>
                    <option value="S">Small</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                    <option value="F">Free</option>
                </select>
            </div>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <div class="submit-row">
                <button type="submit" class="btn btn-primary">등록</button>
            </div>
            <script id="django-admin-form-add-constants" src="/static/admin/js/change_form.js" data-model-name="product"
                async="">
                </script>
            <script id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js"
                data-prepopulated-fields="[]">
                </script>
    </div>
    </form>
</div>
</div>
{% endblock %}